@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|Kaushan+Script&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Kaushan Script', ;
    font-family: 'DM Serif Display';
    overflow-x: hidden;
}

.site-container {
    position: relative;
    top: -350px;
    left: 485px;
}

img {
    width: 100%;
    height: 60%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
}

nav {
    padding: 15px;
    width: 30%;
    border: 1px solid beige;
    background-color: bisque;
    box-shadow: 2px 3px #888888;
}

ul {
    text-align: center;
}
li {
    display: inline-block;
}

a {
    color: rgb(94, 177, 17);
    text-decoration: none;
    padding: 5px;
    font-size: 25px;
}

h1, h2 {
    color: aliceblue;
    position: relative;
    top: 80px;
    margin-bottom: 15px;
    font-size: 30px;
}
h1 {
   left: 90px;
}

.about-container {
    background-color: bisque;
    width: 30%;
    height: 10%;
    position: relative;
    top: -13.07em;
    left: 30em;
    box-shadow: 2px 3px #dbd1d1;
}

h3 {
    text-align: center;
    color: rgb(94, 177, 17);
    padding: 10px 0px 3px 0px;
    font-size: 25px;
}

.about-information-container {
    position: relative;
    top: 80px;
    left: -195px;
    text-align: center;
    background-color: bisque;
    color: rgb(94, 177, 17);
    box-shadow: 2px 3px #dbd1d1;
    width: 200%;
    height: 170%;
    font-size: 25px;
    
}