body {
    background-color: #513029;
    font-size: 25px;
}

.nav-container ul > li {
    display: inline;
}
.nav-container li > a {
    padding: 15px;
}
.nav-container{
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-shadow: 3px 2px 3px #333333;
}
nav a:hover {
    background-color: rgb(190, 122, 73);
}
a {
    color: aliceblue;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: aliceblue;
    margin-top: 35px;
}

p{
    text-align: center;
    width: 780px;
    padding-left: 300px;
    color: wheat;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    border-radius: 50%;
}

#education ul > li {
    margin: 0px;
    padding-top: 50px;
    text-align: center;
    color: aliceblue;
    font-size: 40px;
}

@media screen and (max-width: 600px) {
    h1, p {
        font-size: 80px;
        padding-left: 52px;
    }
}

@media screen and (max-width: 800px) {
    nav, h1, p {
        font-size: 80px;
        padding-left: 52px;
    }
}