@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins' sans-serif;
  background: #031C32;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 80%;
  margin: auto;
}

a, .btn {
  transition: all 300ms ease;
}

a {
  color: rgb(82, 82, 82);
  text-decoration: none;
  font-size: 28px;
  padding: 5px;
}

a:hover {
  border-bottom: 1px solid rgb(223, 25, 25);
}

#burger-menu {
  border: none;
  font-size: 35px;
  background: none;
  position: absolute;
  top: 15px;
  right: 24px;
  display: none;
  color: white;
}

#menu {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: auto;
  align-items: center;
  height: 10vh;
  border-bottom: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  background: #ededed;
}

.menu-item {
  list-style-type: none;
}

#header {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: flex-start;
}

#information {
  width: 30%;
  height: 100%;
  margin-top: 10vh;
  margin-left: 8vh;
  font-size: 30px;
  text-align: center;
}

#title {
  font-weight: 200;
  line-height: 60px;
  word-spacing: 1.5px;
  color: #635e5e;
}

#position {
  color: orange;
  font-size: 25px;
  margin: 5px;
  font-style: italic;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
  font-size: 25px;
  width: 50%;
}

#profile {
  width: 60%;
  text-align: center;
}

#profile img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  margin-top: 5vh;
}

#experience-desktop {
  width: 80%;
  margin: auto;
  background: #E64344;
  color: white;
  padding: 20px;
  font-size: 32px;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 30px;
  
}

#experience-mobile {
  display: none;
}

#about {
  position: relative;
  top: 7vh;
  text-align: center;
  font-size: 28px;
}

.about-title {
  text-transform: uppercase;
  border-bottom: 1px solid red;
  width: 65%;
  margin: auto;
}

.description {
  max-width: 51%;
  font-size: 24px;
  margin: 24px auto;
}

@media screen and (max-width: 900px) {
  #menu {
    width: 90%;
  }

  #information {
    width: 90%;
  }

  #experience-desktop {
    display: none;
  }

  #experience-mobile {
    display: block;
    width: 100%;
    padding: 20px;
  }

  .experience-item {
    padding: 20px;
    background: #E64344;
    border-radius: 30px;
    font-size: 28px;
    text-align: center;
    margin: 20px 0;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }

  #header {
    flex-direction: column;
    align-items: end;
  }

  #profile {
    width: 100%;
  }

  #profile img {
    width: 100%;
    height: 80%;
  }

  #burger-menu {
    display: block;
  }

  #menu {
    display: none;
  }

  #menu.show {
    flex-direction: column;
    margin-top: 60px;
    height: 40vh;
    display: block;
    text-align: center;
    font-size: 45px;
  }

  .menu-item {
    margin-bottom: 15px;
  }

  .description {
    max-width: 75%;
    font-size: 22px;
  }
}